header {
  background: rgb(1, 42, 91);
  background: linear-gradient(180deg, rgba(1, 42, 91, 1) 0%, rgba(0, 116, 255, 1) 100%);
}

header .col {
  margin: 5px;
}


header .centerColText1,
header .centerColText2,
header .centerColText3 {
  font-family: "Inconsolata";
  color: white;
  font-weight: bold;
  font-size: 20px;
}

nav {
  
  font-family: "Inconsolata";
  font-size: 20px;
  font-weight: bold;
}

.navbar.navbar-expand-lg {
  background-color:  rgba(0, 116, 255, 1);
}

.nav-link{
  color: black;
  background-color: #BFDDFF;
  border-radius: 5px;
  margin-left: 5px;
}



nav .dropdown-menu{
  background-color: #E9E9E9;
}

nav .dropdown-item:hover{
  background-color: gray;
  color: white;
}


nav .collapse{
  justify-content: center;
}


body {
  background-color: #749BBF;
}


.form-control{
  background-color: white;
  text-align: center;
  font-family: "Inconsolata";
  font-weight: bold;
  font-size: 20px;
}

.btn{
  background-color: #DFDFDF;
  color: black;
  font-family: "Inconsolata";
  font-weight: bold;
  font-size: 20px;
}


.card {
  background-color: #E9E9E9;
}


.card-header {
  text-align: center;
  font-family: "Inconsolata";
  font-size: 30px;
  font-weight: bold;
}

.card-body {
  font-family: "Inconsolata";
  font-size: 20px;
  font-weight: bold;
}

.form-control,
.btn {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
}


.btn:active {
  background-color: black;
}



.d-grid>.btn {
  border-color: black;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
}


.section2{
  background-color: #DFDFDF;
  display: flex;
}
#cy {
  height: 900px;
  width: 65%;
  display: block;
  border: solid black 2px;
}

#cy-container {
  display: flex;
  height: 60%;
  width: 100%;
  margin: 20px; /* Margen del 20% en cada lado */
  box-sizing: border-box;

}


#primSteps {
  flex: 0 0 40%; /* 40% de la altura, no se puede expandir ni contraer */
  padding: 10px;
  border: solid black 2px;
  overflow-y: scroll;
  box-sizing: border-box;
}



.considering-edge {
  line-color: red !important;
  target-arrow-color: red !important;
}

.mst {
  line-color: green !important;
  target-arrow-color: green !important;
}

.not-in-mst {
  line-opacity: 0.3 !important;
}





footer {
  font-family: "Inconsolata";
  font-size: 20px;
  background: rgb(1, 42, 91);
  background: linear-gradient(180deg, rgba(1, 42, 91, 1) 0%, rgba(0, 116, 255, 1) 100%);
}